<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="cloud">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- <script src="angular.min.js" type="javascript"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/ng-tag-cloud.js"></script>
    <script src="/ngCloud.js"></script>


    <link href="/css/ng-tag-cloud.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="twitter_cloud">

<form>
    <fieldset>
        <legend>Tag Cloud</legend>
        <input type="text" placeholder="#spring-mvc" id="hashtag" ng-model="hashtag"/>
        <input type="button" value="make cloud" ng-click="generateCloud()"/>
        <label for="from_words">
            <select id="from_words" name="from_words" ng-model="nr_tweets" ng-init="nr_tweets = options[0]">
                <option selected="selected" value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            # of tweets
        </label>
    </fieldset>
</form>

<ng-tag-cloud cloud-width="512" cloud-height="128" cloud-data="word_cloud"></ng-tag-cloud>

</body>
</html>